.review {

    &-product {
        width: 80vw;
        display: flex;

        @media (max-width:960px)  {
            width: 100vw;
            display: inline;
        }

        &-img {
            width: 50%;

            @media (max-width:960px)  {
                width: 100%;
            }
        }

        &-info {
            padding: 2rem;

            &-name {
                font-size: 42px;
                text-transform: uppercase;
            }
        }
    }
}